body{
    background: #F2F2F2;
  }
  .productType{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-flow: wrap;
    overflow: hidden;
    background: #FFF;
    padding-bottom: 4.5%;
  }
  .productType li{
    width:20%;
    margin-top: 4.5%;
  }
  .productType li img{
    width:85%
  }
  .productType li p{
    color: #494949;
    font-size:0.12rem;
  }