$grayColor :#5D5D5D;
.fixBottom{
    position: fixed;
    left:0;
    bottom: 0;
    width:100%;
    background: #FFFFFF;
    :nth-child(1){
        font-size: .26rem;
         padding:.28rem 0 0 .3rem;
         color:#4D4D4D;
        span{
            color: #D93C35;
            font-weight: bold;
            padding:0;
            font-size: .32rem;
        }
    }
    :nth-child(2){
        color: #FFFFFF;
        background: #E34B3F;
        text-align: center;
        padding:.28rem;
        font-size: .30rem;
    }
}
.payBox{
    background: #FFFFFF;
    margin-top:.26rem;
    .title{
        color: #222323;
        padding:.2rem 0 .2rem 16px;
    }
}

.confirmOrder{
    .address{
        p:nth-child(1){
            font-size: .3rem;
        }
        p:nth-child(2){
            color:#626262;
            margin-top:.15rem;
        }
        p{
            vertical-align: middle;
            img{
                height:.3rem;
                vertical-align: top;
            }
        }
        padding:.33rem;
        background:  url(../static/imgs/confirmOrder/bg_line.jpg) left bottom repeat-x;
        background-color:  #FFFFFF;
        background-size: auto 2px;
    }
    .price{
            padding:.5rem 0 .3rem 0;
            color:#F53D5A;
            text-align: center;

            p:nth-child(1){
                font-size:.36rem;
                margin-right: .2rem;
            }

            p:nth-child(2){
                color:$grayColor
            }
            background: #FFFFFF;
    }
    .goodsList{
        margin-top:.2rem;
        background: #FFFFFF;
        color:#222323;
        &{
            padding:0 .2rem;
        }
        &>*{
            border-top: #EBEAEA 1px solid;
            padding:.2rem;
        }
        .title{
            :nth-child(1){
                vertical-align: middle;
                img{
                    vertical-align: top;
                    height: .3rem;
                }
            }
            :nth-child(2){
                text-align: right;
                color: #646464;
                span{
                    color:#E34B3F;
                }
            }
        }
        .list{
            .goodsImg{
                text-align: center
            }
            :nth-child(3){
                text-align: right
            }
            img{
                width:50px;
                border: #ccc 1px solid;

            }
            .num{
                color:#222323;
                margin-top:.1rem;
                font-size: 8px;
            }
                h4{
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    word-break: break-all;
                }
        }
        .amount{
            :nth-child(2){
                text-align: right
            }
        }
        .freight{
            :nth-child(2){
                text-align: right
            }
            border-bottom: #EBEAEA 1px solid;
        }
    }
    .radio-class{
        position: absolute;
        left:16px;
        width:25px;
        z-index: 999;
    }
    .icon-weixin{
        top:10px;
    }
    .icon-zhifubao{
        top:53px;
    }
    .van-cell__title{
        padding-left: .7rem;
    }
}